<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="Practice_Section.HomePage"/>
     <class name="Practice_Section.HowItWorksPage"/>
      <class name="Practice_Section.FAQPage"/>
     <class name="Practice_Section.OurServices"/> 
     <class name="Practice_Section.ArtificialInteligencePage"/>
     <class name="Practice_Section.DevelopementTeamPage"/>
     <class name="Practice_Section.SoftwareDevPage"/>
     <class name="Practice_Section.MobileAppDevPage"/>
     <class name="Practice_Section.WebCloudApplicationPage"/>
     <class name="Practice_Section.SoftwareModernizationPage"/>
     <class name="Practice_Section.PricingPage"/>
     <class name="Practice_Section.ClientsPage"/>
     <class name="Practice_Section.TestimonialPage"/>
     <class name="Practice_Section.ContactPage"/>
  </classes>
  </test>
  </suite> <!-- Suite    -->